<h1>Top 50 Books by Sales</h1>
<ul>
<%= for book <- @books do %>
  <li>
    <strong><%= book.name %></strong><br>
    Author: <%= book.author.name %><br>
    Summary: <%= book.summary %><br>
    Date of Publication: <%= book.date_of_publication %><br>
    Number of Sales: <%= book.number_of_sales %>
  </li>
<% end %>
</ul>
