<.header>
  New Review
  <:subtitle>Use this form to manage review records in your database.</:subtitle>
</.header>

<!-- Pasar @books al formulario -->
<.review_form changeset={@changeset} action={~p"/reviews"} books={@books} />

<.back navigate={~p"/reviews"}>Back to reviews</.back>
