<.header>
  Listing Authors
</.header>

<.table id="authors" rows={@authors} row_click={&JS.navigate(~p"/authors/#{&1.id}")}>
  <:col :let={author} label="Name"><%= author.name %></:col>
  <:col :let={author} label="Number of Published Books"><%= author.book_count %></:col>
  <:col :let={author} label="Average Score"><%= if author.average_score, do: author.average_score, else: "N/A" %></:col>
  <:col :let={author} label="Total Sales"><%= author.total_sales %></:col>



</.table>
